.main{
    margin-left: 36%;
    margin-right: 36%;
    border-style: solid;
    margin-top: 20px;
   
}
.register{
  padding : 20px 20px 20px 20px;
  border: solid;
  color: white;
  border-color: #17a2b8;
  background-color: #17a2b8;
  text-align: center;
}
.form{
    margin-top: 20px;
    padding: 2px 2px 2px 2px;
}
.heading{
    margin-top: 3px;
    text-align: center;
}
.input{
    width:85%;
    margin-left: 20px;
}
.selection{
    margin-left: 25%;
}