.main{
    border-color: black;
    border-style: solid;
    margin: 10px 10px 10px 10px;
    margin-top: 20px;
    border-radius: 8px;
}
.register{
  padding : 20px 20px 20px 20px;
  border: solid;
  color: white;
  border-color: #007bff;
  background-color: #007bff;
  text-align: center;
}
.form{
    padding: 0px 22px 12px 22px;
}
.heading{
    margin-top: 14px;
    text-align: center;
}
.input{
    width:100%;
}
.selection{
    text-align: center;
}
.selectionHeading{
    margin-top: 6px;
    text-align: center;
    margin-bottom: 2px;
}
.button{
    margin: auto;
    display: block;
    margin-top: 10px;
}
.selectionClass{
    width: 50%;
    height: 32px;
    border-radius: 8px;
    box-shadow: 0px 2px #888888;
}